# infrastructure
DATABASE_URL=""

# keys
NEXT_PUBLIC_DEV_PRIVATE_KEY=""
BRIDGE_OWNER_PRIVATE_KEY=""

# contracts


# networks
NEXT_PUBLIC_RPC_URL_BERGEN="https://rpc.bergen.nahmii.io"
NEXT_PUBLIC_RPC_URL_ARBITRUM_GOERLI=""
NEXT_PUBLIC_RPC_URL_LOCAL="http://127.0.0.1:8545"

# auth
NEXT_PUBLIC_RPC_USER_BERGEN=""
NEXT_PUBLIC_RPC_PASSWORD_BERGEN=""

# chain config
## Local
NEXT_PUBLIC_SOURCE_CHAIN=31337
## Arbitrum Goerli
# NEXT_PUBLIC_DESTINATION_CHAIN=421613
## Bergen
NEXT_PUBLIC_DESTINATION_CHAIN=1729
FROM_BLOCK_LOCAL_BLOCKCHAIN=0
FROM_BLOCK_BERGEN=3755065
FROM_BLOCK_ARBITRUM_GOERLI=3868121
