//https://www.awwwards.com/sites/history-of-icons

$primary-color-900: #005d4a;
$primary-color-500: #00a995;
$primary-color-300: #49c5b6;
$primary-color-100: #b3e6e0;

$secondary-color-700: #cb2d6f;
$secondary-color-500: #f4337a;
$secondary-color-300: #f66da4;
$secondary-color-100: #f9bfd8;

$dark-color: #0f292f;
$light-color: #FFF;

//Header
$header-link-color: $primary-color-500;
$header-link-hover-color: $primary-color-500;
$header-background-color: #FFF;
$header-height: 4rem;

//Footer
$footer-link-color: #141414;
$footer-link-hover-color: #141414;
$footer-background-color: #FFF;
$footer-height: 4rem;

//button
$button-color: #6913be;
$button-color-active: #4a0d87;

