//https://www.awwwards.com/sites/history-of-icons

$primary-color-900: #005d4a;
$primary-color-500: #00a995;
$primary-color-300: #49c5b6;
$primary-color-100: #b3e6e0;

$secondary-color-700: #cb2d6f;
$secondary-color-500: #f4337a;
$secondary-color-300: #f66da4;
$secondary-color-100: #f9bfd8;

$dark-color: #0f292f;
$light-color: white;

//Header
$header-link-color: $primary-color-500;
$header-link-hover-color: $primary-color-500;
$header-background-color: white;
$header-height: 4rem;

//Footer
$footer-link-color: $primary-color-300;
$footer-link-hover-color: $primary-color-500;
$footer-background-color: white;
$footer-height: 4rem;

//button
$button-color: $primary-color-500;
$button-color-active: $primary-color-300;

//General
$text-color: $light-color;
$background-color: $dark-color;
